<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Usuarios</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Listar Usuarios</h1>
        <ul class="list-group mt-3">
            {% for usuario in usuarios %}
            <li class="list-group-item">
                {{ usuario.username }}
                <form method="post" action="{% url 'eliminar_usuario' usuario.id %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm ml-2">Eliminar</button>
                </form>
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'vista_principal' %}" class="btn btn-primary mt-3">Volver</a>
    </div>
</body>
</html>
