<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Principal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Bienvenido a la Vista Principal</h1>
        <p class="lead">Seleccione una opción:</p>
        <div class="row">
            <div class="col-md-6">
                <a href="{% url 'listar_quedadas' %}" class="btn btn-dark btn-lg btn-block">Listar Quedadas</a>
            </div>
            <div class="col-md-6">
                <a href="{% url 'crear_quedada' %}" class="btn btn-secondary btn-lg btn-block">Crear Quedada</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <a href="{% url 'listar_usuarios' %}" class="btn btn-info btn-lg btn-block">Listar Usuarios</a>
            </div>
            <div class="col-md-6">
                <a href="{% url 'crear_usuario' %}" class="btn btn-warning btn-lg btn-block">Crear Usuario</a>
            </div>
        </div>
        
    </div>
</body>
</html>
